.ParQuiz {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
  }
  

  .ParQuiz::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/204/011/original/soccer-ball-png.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -40px;
    top: 10px; 
    transform: translateY(-5%);
    transition: all 0.3s ease-in-out;
  }
  
  .ParQuiz:hover::before {
    animation: bounce 0.8s;
    animation-fill-mode: forwards;
  }