
.App {
  text-align: center;
 }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.custom-link {
  color: #6b7078;
  background: #333333;
}

.custom-link.active {
  color: #ffffff;
  background: #3338ba;
}
